ClassLibrary/obj/Debug ClassLibraryFigure/obj/Debug ConsoleExs1/obj/Debug FormExs2/obj/Debug
ClassLibrary/bin/Debug ClassLibrary/bin/Release ClassLibraryFigure/bin/Debug ClassLibraryFigure/bin/Release ConsoleExs1/bin/Debug FormExs2/bin/Debug
